/mew-draft-mode/
/objc-mode/test
/php-mode/fun
/php-mode/menu
/php-mode/to
/python-mode/detail
/python-mode/dic
/python-mode/eritem
/python-mode/error
/python-mode/get
/python-mode/hinban
/python-mode/ii
/python-mode/il
/python-mode/import
/python-mode/info
/python-mode/item
/python-mode/lg
/python-mode/local
/python-mode/log
/python-mode/mono
/python-mode/seltem
/python-mode/setter
/python-mode/todo
/python-mode/とど
/sgml-mode/todo
/sgml-mode/とど
