[submodule "git/org-panes"]
	path = git/org-panes
	url = https://github.com/knupfer/org-panes.git
[submodule "git/tern"]
	path = git/tern
	url = https://github.com/marijnh/tern.git
[submodule "git/emacs-sourcetrail"]
	path = git/emacs-sourcetrail
	url = https://github.com/CoatiSoftware/emacs-sourcetrail.git
[submodule "git/vscode-dark-plus-emacs-theme"]
	path = git/vscode-dark-plus-emacs-theme
	url = https://github.com/ianpan870102/vscode-dark-plus-emacs-theme.git
[submodule "git/power-query-mode"]
	path = git/power-query-mode
	url = https://github.com/fpvmorais/power-query-mode.git
[submodule "git/git-gutter"]
	path = git/git-gutter
	url = https://github.com/emacsorphanage/git-gutter.git
[submodule "git/emacs-livedown"]
	path = git/emacs-livedown
	url = https://github.com/shime/emacs-livedown.git
[submodule "git/emacs-tdd"]
	path = git/emacs-tdd
	url = https://github.com/jorgenschaefer/emacs-tdd.git
[submodule "git/emacs-smartchr"]
	path = git/emacs-smartchr
	url = https://github.com/imakado/emacs-smartchr.git
[submodule "git/vue-mode"]
	path = git/vue-mode
	url = https://github.com/peccu/vue-mode.git
[submodule "git/el-easydraw"]
	path = git/el-easydraw
	url = https://github.com/misohena/el-easydraw.git
[submodule "git/project-x"]
	path = git/project-x
	url = https://github.com/karthink/project-x.git
