[submodule "git/emacs-tdd"]
	path = git/emacs-tdd
	url = https://github.com/jorgenschaefer/emacs-tdd.git
[submodule "git/org-panes"]
	path = git/org-panes
	url = https://github.com/knupfer/org-panes.git
[submodule "git/tern"]
	path = git/tern
	url = https://github.com/marijnh/tern.git
[submodule "git/emacs-sourcetrail"]
	path = git/emacs-sourcetrail
	url = https://github.com/CoatiSoftware/emacs-sourcetrail.git
