*.elc
*~
.DS_Store
.cimg/
.git
.hg
.svn
/.bm-repository
/.ipa
/.org-id-locations
/.recentf
/.riece/log/
/ac-comphist.dat
/anything-c-adaptive-history
/anything-include
/capture-mylife/
/conf.d/hatena-diary-api-user.el
/home.filelist
/image-dired/
/kill-ring-saved.el
/latex-math-preview-cache/
/lisp/el-get/el-get/
/lisp/emacs-keybind/emacs-keybind-history-save-file
/lisp/emacs-keybind/emacs-keybind-with-history.html
/lisp/emacs-keybind/emacs-keybind.html
/lisp/espresso.el
/lisp/html-parse.el
/tramp
/url/cache/
/url/cookies
CVS
git/ntlniph/
/dotemacs/
/el-get/
/elpa/
/.session.*
/.windows.*
