[submodule "git/emacs-tdd"]
	path = git/emacs-tdd
	url = https://github.com/jorgenschaefer/emacs-tdd.git
[submodule "git/org-panes"]
	path = git/org-panes
	url = https://github.com/knupfer/org-panes.git
[submodule "git/tern"]
	path = git/tern
	url = https://github.com/marijnh/tern.git
[submodule "git/emacs-sourcetrail"]
	path = git/emacs-sourcetrail
	url = https://github.com/CoatiSoftware/emacs-sourcetrail.git
[submodule "git/vscode-dark-plus-emacs-theme"]
	path = git/vscode-dark-plus-emacs-theme
	url = https://github.com/ianpan870102/vscode-dark-plus-emacs-theme.git
[submodule "git/power-query-mode"]
	path = git/power-query-mode
	url = https://github.com/fpvmorais/power-query-mode.git
[submodule "git/git-gutter"]
	path = git/git-gutter
	url = https://github.com/emacsorphanage/git-gutter.git
